<header class="p-5 bg-primary">
  <nav class="flex items-center gap-4 ml-32">
    <a class="uppercase" href="/">Monster Factory</a>
    <a class="ml-auto" href="/">Home</a>
    <a href="/products">Products</a>
    <a href="/contact">Contact</a>
  </nav>
</header>