<div class="pr-16 bg-no-repeat bg-cover min-h-fit bg-hero">
  <header class="p-5">
    <nav class="flex items-center gap-4 ml-64">
      <a class="uppercase whitespace-nowrap" href="/">Monster Factory</a>
      <a class="ml-auto hover:underline-offset-4 hover:underline-accent hover:underline" href="/">Home</a>
      <a class="hover:underline-offset-4 hover:underline-accent hover:underline" href="/products">Products</a>
      <a class="hover:underline-offset-4 hover:underline-accent hover:underline" href="/contact">Contact</a>
    </nav>

    <section class="max-w-xl py-32 mt-16 ml-64 space-y-5">

      <h1 class="text-6xl font-bold text-accent">
        Beautifully Crafted Prosthetic Makeup
      </h1>
      
      <h3 class="text-xl">Hi, I'm Jurine Erwee</h3>
      
      <p>With a widespread skillset in makeup artistry, I do everything from bodypainting all the way to glamour and high-fashion makeup. Specialising in makeup effects, I have worked on many productions and also supply prosthetics to the film industry, with a GIFA award under my belt, as well as being a 2021 Arnold Classic Bodypainting Winner!</p>
      
      <div class="flex items-center gap-5 mt-5">
        <a href="/contact" 
        class="px-3 py-2 border rounded select-none hover:cursor-pointer bg-accent border-accent hover:bg-accent/90 hover:border-accent/90 focus:outline focus:outline-accent focus:outline-offset-4 focus:outline-2">
        Contact Me
        </a>
        <a href="/products" 
        class="px-3 py-2 border rounded select-none hover:cursor-pointer border-secondary hover:border-secondary/80 focus:outline focus:outline-secondary focus:outline-offset-4 focus:outline-2">
        View Products
        </a>
      </div>
    </section>
  </header>
</div>