---
title : Monster Factory
layout : 'base.njk'
---
<section class="flex flex-col items-center gap-32 p-5 bg-primary">
  <div class="flex flex-col gap-32 ml-32">
    <div class="flex flex-col max-w-xl gap-3 pl-10 border-l-8 border-accent">
      <h3 class="text-xl uppercase text-accent">Featured Project</h3>
      <h1 class="text-3xl">Dust</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad mollitia, provident, pariatur, nisi quo excepturi eos cupiditate voluptatem quis recusandae libero eum rerum. Eaque ad quisquam assumenda alias reiciendis aliquam?</p>
      <a href="/" class="px-3 py-2 ml-auto border rounded select-none hover:cursor-pointer bg-accent border-accent hover:bg-accent/90 hover:border-accent/90 focus:outline focus:outline-accent focus:outline-offset-4 focus:outline-2">Watch Trailer</a>
    </div>

    <div class="flex flex-col max-w-xl gap-3 pl-10 border-l-8 border-accent">
      <h3 class="text-xl uppercase text-accent">Featured Project</h3>
      <h1 class="text-3xl">Warrior</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad mollitia, provident, pariatur, nisi quo excepturi eos cupiditate voluptatem quis recusandae libero eum rerum. Eaque ad quisquam assumenda alias reiciendis aliquam?</p>
      <a href="/" class="px-3 py-2 ml-auto border rounded select-none hover:cursor-pointer bg-accent border-accent hover:bg-accent/90 hover:border-accent/90 focus:outline focus:outline-accent focus:outline-offset-4 focus:outline-2">Watch Trailer</a>
    </div>
    <div class="flex flex-col max-w-xl gap-3 pl-10 border-l-8 border-accent">
      <h3 class="text-xl uppercase text-accent">Featured Project</h3>
      <h1 class="text-3xl">Life’s a Drag</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad mollitia, provident, pariatur, nisi quo excepturi eos cupiditate voluptatem quis recusandae libero eum rerum. Eaque ad quisquam assumenda alias reiciendis aliquam?</p>
      <a href="/" class="px-3 py-2 ml-auto border rounded select-none hover:cursor-pointer bg-accent border-accent hover:bg-accent/90 hover:border-accent/90 focus:outline focus:outline-accent focus:outline-offset-4 focus:outline-2">Watch Trailer</a>
    </div>
  </div>
  </section>