---
title : Monster Factory
layout : 'base.njk'
--- 
<section class="grid min-h-screen grid-cols-[35%_65%]">
  <aside class="bg-no-repeat border-4 border-blue-500 bg-hero"></aside>
  <main class="py-5 pl-5 pr-24 border-4 border-blue-500 bg-primary">
    {% include 'header.njk'%}
    <div class="flex flex-col justify-center h-full gap-8">
      <h1 class="text-6xl font-bold text-accent">
        Beautifully Crafted Prosthetic Makeup
      </h1>
      <h3 class="text-3xl ">Hi, I'm Jurine Erwee</h3>
      <p>
        With a widespread skillset in makeup artistry, I do everything from bodypainting all the way to glamour and high-fashion
        makeup. Specialising in makeup effects, I have worked on many productions and also supply prosthetics to the film
        industry, with a GIFA award under my belt, as well as being a 2021 Arnold Classic Bodypainting Winner!
      </p>
      <div class="relative flex items-center gap-5">
        <a
          href="/contact"
          class="px-3 py-2 border rounded select-none hover:cursor-pointer bg-accent border-accent hover:bg-accent/90 hover:border-accent/90 focus:outline focus:outline-accent focus:outline-offset-4 focus:outline-2">
          Contact Me
        </a>
        <a
          href="/products"
          class="px-3 py-2 border rounded select-none hover:cursor-pointer border-secondary hover:border-secondary/80 focus:outline focus:outline-secondary focus:outline-offset-4 focus:outline-2">
          View Products
        </a>
        <div class="absolute flex gap-5 -left-32 flex-nowrap motion-safe:animate-point motion-reduce:animate-none">
          <svg class="w-3" width="29" height="36" viewBox="0 0 29 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0 3.25575C0 0.640749 2.931 -0.904251 5.088 0.575749L26.592 15.3187C28.475 16.6087 28.475 19.3887 26.592 20.6787L5.088
                35.4237C2.93 36.8997 0 35.3567 0 32.7427V3.25575Z"
              fill="#EBEBEF"/>
          </svg>
          <svg class="w-3" width="29" height="36" viewBox="0 0 29 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0 3.25575C0 0.640749 2.931 -0.904251 5.088 0.575749L26.592 15.3187C28.475 16.6087 28.475 19.3887 26.592 20.6787L5.088
                35.4237C2.93 36.8997 0 35.3567 0 32.7427V3.25575Z"
              fill="#EBEBEF"/>
          </svg>
          <svg class="w-3" width="29" height="36" viewBox="0 0 29 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0 3.25575C0 0.640749 2.931 -0.904251 5.088 0.575749L26.592 15.3187C28.475 16.6087 28.475 19.3887 26.592 20.6787L5.088
                35.4237C2.93 36.8997 0 35.3567 0 32.7427V3.25575Z"
              fill="#EBEBEF"/>
          </svg>
        </div>
      </div>
      <div class="absolute flex items-center gap-16 flex-nowrap -bottom-32">
        <div class="bg-feature-1 bg-cover bg-center bg-no-repeat w-48 aspect-[9/13]"></div>
        <div class="bg-feature-2 bg-cover bg-center bg-no-repeat w-48 aspect-[9/13]"></div>
        <div class="bg-feature-3 bg-cover bg-center bg-no-repeat w-48 aspect-[9/13]"></div>
      </div>
    </div>
  </main>
</section>

<section class="h-64 bg-secondary"></section>

<section class="relative flex flex-col items-center gap-32 py-32 px-5 ml-16 z-20 bg-primary before:absolute before:bg-accent
    before:h-48 before:w-48 before:-top-[20px] before:-left-[20px] before:block after:absolute after:bg-primary after:h-48
    after:w-48 after:top-0 after:left-0 after:block">
  <div class="flex flex-col gap-32 ml-14">
    <div class="flex flex-col max-w-xl gap-3 pl-10 border-l-8 border-accent">
      <h3 class="text-xl uppercase text-accent">Featured Project</h3>
      <h1 class="text-3xl">Dust</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad mollitia, provident, pariatur, nisi quo excepturi eos
        cupiditate voluptatem quis recusandae libero eum rerum. Eaque ad quisquam assumenda alias reiciendis aliquam?</p>
      <a
        href="/"
        class="flex items-center gap-3 px-3 ml-auto border rounded select-none flex-nowrap hover:cursor-pointer bg-accent border-accent hover:bg-accent/90 hover:border-accent/90 focus:outline focus:outline-accent focus:outline-offset-4 focus:outline-2">
        Watch Trailer
        <svg class="w-3" width="29" height="36" viewBox="0 0 29 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0 3.25575C0 0.640749 2.931 -0.904251 5.088 0.575749L26.592 15.3187C28.475 16.6087 28.475 19.3887 26.592 20.6787L5.088
              35.4237C2.93 36.8997 0 35.3567 0 32.7427V3.25575Z"
            fill="#EBEBEF"/>
        </svg>
      </a>
    </div>
    <div class="flex flex-col max-w-xl gap-3 pl-10 border-l-8 border-accent">
      <h3 class="text-xl uppercase text-accent">Featured Project</h3>
      <h1 class="text-3xl">Warrior</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad mollitia, provident, pariatur, nisi quo excepturi eos
        cupiditate voluptatem quis recusandae libero eum rerum. Eaque ad quisquam assumenda alias reiciendis aliquam?</p>
      <a
        href="/"
        class="flex items-center gap-3 px-3 ml-auto border rounded select-none flex-nowrap hover:cursor-pointer bg-accent border-accent hover:bg-accent/90 hover:border-accent/90 focus:outline focus:outline-accent focus:outline-offset-4 focus:outline-2">
        Watch Trailer
        <svg class="w-3" width="29" height="36" viewBox="0 0 29 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0 3.25575C0 0.640749 2.931 -0.904251 5.088 0.575749L26.592 15.3187C28.475 16.6087 28.475 19.3887 26.592 20.6787L5.088
              35.4237C2.93 36.8997 0 35.3567 0 32.7427V3.25575Z"
            fill="#EBEBEF"/>
        </svg>
      </a>
    </div>
    <div class="flex flex-col max-w-xl gap-3 pl-10 border-l-8 border-accent">
      <h3 class="text-xl uppercase text-accent">Featured Project</h3>
      <h1 class="text-3xl">Life’s a Drag</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad mollitia, provident, pariatur, nisi quo excepturi eos
        cupiditate voluptatem quis recusandae libero eum rerum. Eaque ad quisquam assumenda alias reiciendis aliquam?</p>
      <a
        href="/"
        class="flex items-center gap-3 px-3 ml-auto border rounded select-none flex-nowrap hover:cursor-pointer bg-accent border-accent hover:bg-accent/90 hover:border-accent/90 focus:outline focus:outline-accent focus:outline-offset-4 focus:outline-2">
        Watch Trailer
        <svg class="w-3" width="29" height="36" viewBox="0 0 29 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0 3.25575C0 0.640749 2.931 -0.904251 5.088 0.575749L26.592 15.3187C28.475 16.6087 28.475 19.3887 26.592 20.6787L5.088
              35.4237C2.93 36.8997 0 35.3567 0 32.7427V3.25575Z"
            fill="#EBEBEF"/>
        </svg>
      </a>
    </div>
  </div>
</section>